body {
    background: lightblue;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

footer {
    background: yellow;
    display: flex;
    justify-content: space-around;
}

footer a {
    display: inline;
    background: teal;
    padding: 1em;
}

footer a {
    text-indent: -10000px;
    transition: text-indent 1s;
}

footer:hover a {
    text-indent: 0;
    transition: text-indent 1s;
}